<div data-role="header">
    <%= link_to "log out", log_out_path %>
  <h1>Upload Guidance PDF</h1>
<%= link_to "Back", menu_path, "data-theme"=>"b" %>	
</div>
<div data-role="content">
<%= form_for @guidepdf, :html => {:'data-ajax' => false } do |f| %>
                             
<%= select_tag "id", options_from_collection_for_select(@subsections, :id, :subsection_full_code_and_title) %>    

<%= f.file_field "photo"%>

<%= f.submit%>

<% end %>

</div>