<div data-role="header">
    <%= link_to "log out", log_out_path %>
  <h1>Select Clause to Update</h1>
<%= link_to 'Back', subsection_path(@current_project_id), "data-theme"=>"b"  %>
</div>

<div data-role="content">

	<p id="notice"><%= notice %></p>

  <ul data-role="listview" data-inset="true" class="custom_list" >
    <% @clauses.each do |clause| %> 
    	<% if clause.guidenote_id == 1 %>
    		<li data-icon="add">          			  			    	    		
				<div class="text_content">
				<%= clause.clause_section_full_title %>
				</div>
				<div class="test3">
        			<%= link_to '', {:controller => 'clauses', :action => 'clone_subsection', :id => clause.id, :subsection_id => @current_subsection_id, :project_id => @current_project_id}, {"data-role"=>"button", "data-inline"=>"true", "data-icon" => "refresh", "data-iconpos"=>"notext", "data-theme"=>"b"}%>					
					<%= link_to '', {:controller => 'guidenotes', :action => 'new', :clause_id => clause.id, :subsection_id => @current_subsection_id, :project_id => @current_project_id}, {"data-role"=>"button", "data-inline"=>"true", "data-icon" => "add", "data-iconpos"=>"notext", "data-theme"=> "b"}%>          		
				</div>				          		
			</li>
		<% else %> 	
			<li data-icon="check" class="custom_list" > 
				<div class="text_content">
					<%= clause.clause_section_full_title %>
				</div>
				<div class="test3">          			  			    	    		
					<%= link_to '', {:controller => 'clauses', :action => 'show_guide', :id => clause.id, :subsection_id => @current_subsection_id, :project_id => @current_project_id}, {"data-role"=>"button", "data-inline"=>"true", "data-icon" => "search", "data-iconpos"=>"notext", "data-theme"=>"b"} %>
				</div>	         		
			</li>
		<% end %> 				
    <% end %>
  </ul>
</div>