<div data-role="header">
    <%= link_to "log out", log_out_path %>
  <h1>Load Template</h1>
  <%= link_to 'Back', menu_path %>
</div>
 
<div data-role="content">

<%= form_tag(:action => 'create'), :html => {:'data-ajax' => false }  do %>
<div id="home">
      
      <p>
        <label>Select Project:</label>
        <%= select_tag "selected_project", options_from_collection_for_select(@projects, :id, :project_code_and_title) %>           
      </p>       
      <p>
        <label>Select Template File:</label>
        <%= file_field_tag :csv_file  %>
      </p>       

<%= submit_tag "Upload"%>
</div>
<% end %>

</div>