<div data-role="header">
    <%= link_to "log out", log_out_path %>
  <h1>Add Guidance Note</h1>
<%= link_to "Back", menu_path, "data-theme"=>"b" %>	
</div>
<div data-role="content">
<%= form_for @guidenote do |f| %>
                        
		<%= hidden_field_tag 'clause_id', @current_clause %>    
	
	<div class="field">
		<h3>Insert text</h3> 
		<%= f.text_area "text"%>
	</div>

<%= f.submit 'Create Clause Guidance Note'%>

<% end %>

</div>