<div data-role="header">
  <%= link_to "log out", log_out_path, "data-theme"=>"b" %>
  <h1>Dashboard</h1>
	<%= link_to "Menu", menu_path, "data-theme"=>"b" %>
	
</div>


<div data-role="content">

<ul data-role="listview" data-inset="true" class="custom_list" >
	<li>		
		<div class="text_content">Specification Lines</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@speclines, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_speclines, :delimiter => ',')%></span>
		</div>		
	</li>
	<li>
		<div class="text_content">Changed Lines</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@changes, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_changes, :delimiter => ',')%></span>
		</div>			
	<li>
		<div class="text_content">Posts</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@posts, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_posts, :delimiter => ',')%></span>
		</div>					
	</li>
	<li>
		<div class="text_content">Comments</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@comments, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_comments, :delimiter => ',')%></span>
		</div>					
	</li>
	<li>
		<div class="text_content">Accounts</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@accounts, :delimiter => ',')%></span>
		</div>					
	</li>
	<li>
		<div class="text_content">New/Total Users</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@users, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_users, :delimiter => ',')%></span>
		</div>					
	</li>
		<li>
		<div class="text_content">Recent/Total Users</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@users, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@users_24, :delimiter => ',')%></span>
		</div>		
	</li>
	<li>
		<div class="text_content">Clause Titles</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@clausetitles, :delimiter => ',')%></span>
		</div>		
	</li>	
	<li>
		<div class="text_content">Txt3 Records</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@txt3s, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_txt3s, :delimiter => ',')%></span>
		</div>		
	</li>
	<li>
		<div class="text_content">Txt4 Records</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@txt4s, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_txt4s, :delimiter => ',')%></span>
		</div>		
	</li>
	<li>
		<div class="text_content">Txt5 Records</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@txt5s, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_txt5s, :delimiter => ',')%></span>
		</div>		
	</li>
	<li>
		<div class="text_content">Guidance Note Downloads</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@guidepdfs, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_delimiter(@recent_guidepdfs, :delimiter => ',')%></span>
		</div>		
	</li>
		<li>
		<div class="text_content">Av download per User/Total Downloaders</div>
		<div class="test2">        
			<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= number_with_delimiter(@download_users, :delimiter => ',')%></span>
			<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= number_with_precision(@av_download, :precision => 2)%></span>
		</div>		
	</li>


</ul>


</div>