<div data-role="header">
	<h1><%= @supplier.company_name %></h1>
<%= link_to 'Back', suppliers_path %>
<%= link_to 'Edit', edit_supplier_path(@supplier) %>
</div>

<div data-role="content">
<p id="notice"><%= notice %></p>

<h2>
  <%= @supplier.company_name %>
</h2>

<p>
  <%= @supplier.www %>
</p>

<h1>
	<%= image_tag (@supplier.photo.url), :width => 108, :height=> 33 %>
</h1>

</div>

