<div data-role="header">
  <%= link_to "log out", log_out_path %>
	<h1>Text Type 4</h1>
		<%= link_to "Menu", menu_path %>	
</div>

<div data-role="content">
	<ul data-role="listview" data-inset="true" class="custom_list" >

<% @txt4s.each do |txt| %>
    			<li>   			    	    		
					<div id="text_content" style="width:400px; font-size:11px">
						<%= txt.text %>	
					</div>
					       
						<span class="ui-li-count" style="color: #FFFFFF; background: #00407f; font-size:11px;"><%= txt.speclines.count %></span>
						<span class="ui-li-count" style="color: #FFFFFF; background: #90307f; font-size:11px;"><%= txt.changes.count %></span>
 					<div> 
						<%= link_to '', txt4_path(txt), {:confirm => 'Are you sure?', :method => :delete, "data-role"=>"button", "data-inline"=>"true", "data-icon" => "delete", "data-iconpos"=>"notext", "data-theme"=> "c"}%>          		
					</div> 		
				</li>						
<% end %> 
	</ul>
</div>


