<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Specright Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
</head>



<body>
  <div data-role="page" data-theme="a" data-url="<%= controller_name %>">
    <%= yield %>
  </div>
</body>

</html>
